

.profile{
    box-sizing: border-box;
    min-height: 790px;
    position: relative;
    background-image: url(../../images/__-01.png);
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    background-size: 650px 700px;
    background-color:  #002f67;
    display: flex;
    flex-direction: column;
    align-items: center;

  }
