.two-columns__paragraph_black-theme{
  margin: 0 0 30px 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  color: white;
}

.two-columns__paragraph_black-theme:last-child {
  margin: 0;
}
